*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #0d0d0d;
}

h1{
    font-size: 32px;
}

h2{
    font-size: 26px;
}

a{
    text-decoration: none;
    color: inherit;
}

/*
header
*/
.header{
    color: rgb(243, 233, 233);
    background-color:pink;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    box-shadow: 1px 3px 3px 1px #444;
}

header > a{
    font-size: 30px;
    background: chocolate;
    padding: 10px 50px 10px 50px;
    border-radius: 50px;
    box-shadow: 2px 3px 3px 0px #444;
}

.header > a:hover {
    display: block;
    color: black;
    font-weight: bold;
    background-color: rgb(179, 133, 82);
}

.header a:active {
    font-size: 15px;
}

.header ul{
    display: flex;
}

.header li{
    margin: 10px;
    background:darkcyan;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 2px 3px 3px 0px #444;
}

.header li:hover{
    display: block;
    font-weight: bold;
    color: rgb(0, 0, 0);;
    background-color: rgb(241, 169, 169);
    box-shadow: 2px 3px 3px 0px #444;
}

/* main */

main{
    margin: 30px;
}


    




